@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p {
    font-family: "Montserrat", sans-serif;
}

#filter {
    background-color: rgb(87, 146, 255);
    width: 100px;
    margin: 10px;
}

header {
    height: 62px;
    width: 100%;
    background-color: rgb(87, 146, 255);
    display: flex;
}

header .title {
    width: 100%;
    margin: auto 0;
    display: block;
    left: 15px;
    position: relative;
    height: 62px;
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    justify-content: center;
}

.map-container {
    height: calc(100vh - 270px);
}

.alert-container {
    position: relative;
    color: white;
    margin: auto auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../public/background.png);
    background-size: cover;
}

.alert-container h1 {
    font-weight: 700;
    font-size: 28px;
}

.data-container h2 {
    font-weight: 700;
}

.data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-decoration: none;
}

#icon {
    height: 40px;
    width: 40px;
    background-color: white;
    mask-image: url(../public/icons/icon.svg);
    mask-repeat: no-repeat;
    display: block;
    margin: auto 0;
    margin-right: 10px;
}

@media (max-width: 720px) {
    .alert-container {
        text-align: center;
    }
}
